* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  max-height: 1250px;
  font-family: 'Poppins', sans-serif;
}

.container .title {
  font-size: 36px;
  margin: 25px;
}

.container .card {
  display: flex;
  height: 550px;
}

.container .card .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  text-align: center;
  padding: 25px 15px;
  background-color: #474747;
}

.card .list a {
  position: relative;
  text-decoration: none;
  color: #e7e7e7;
  padding: 20px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.3px;
  min-width: 170px;
}

.card .list a::after {
  position: absolute;
  content: '';
  width: 25%;
  height: 2px;
  background-color: blue;
  bottom: -2px;
  left: 0;
  transition: .3s ease-in-out;
}

.card .list a:hover::after {
  width: 50%;
}

.card .list a.active::after {
  width: 100%;
}

.card .list a {
  border-bottom: 2px solid gray;
}

.container .card .textCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: #f7f7f7;
  border: 1px solid black;
}

.card .textCard .text {
  display: none;
  line-height: 1.5;
  margin: 0 15px;
}

.card .textCard .text p {
  margin: 5px 0;
}

.card .textCard .text ul {
  margin: 0 15px;
}

.card .textCard .text.active {
  display: block;
}

