* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container .title {
  font-size: 36px;
  margin: 25px;
}

.container .card {
  display: flex;
  height: 550px;
}

.container .card .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  text-align: center;
  padding: 0 15px;
  background-color: #474747;
}

.card .list a {
  position: relative;
  text-decoration: none;
  color: #e7e7e7;
  padding: 20px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.3px;
  min-width: 170px;
  border-bottom: 2px solid gray;
}

.card .list a::after {
  position: absolute;
  content: '';
  width: 25%;
  height: 2px;
  background-color: blue;
  bottom: -2px;
  left: 0;
  transition: .3s ease-in-out;
}

.card .list a:hover::after {
  width: 50%;
}

.card .list a.active::after {
  width: 100%;
}

.container .card .textCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: #f7f7f7;
  border: 1px solid black;
}

.card .textCard .text {
  position: absolute;
  line-height: 1.5;
  margin: 0 15px;
  opacity: 0;
  transform: translateX(-25px);
  transition: transform .4s ease-in-out, opacity .6s ease-in-out .1s, visibility .3s ease-in-out;
}

.card .textCard .text p {
  margin: 5px 0;
}

.card .textCard .text ul {
  margin: 0 15px;
}

.card .textCard .text.active {
  transform: translateX(0);
  opacity: 1;
}

/* Responsivo */
@media screen and (max-width: 835px) {
  .container .title {
    font-size: 28px;
    margin: 0 25px 25px;
  }

  .container .card {
    flex-direction: column;
  }

  .container .card .list {
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    padding: 5px 0;
    max-width: none;
    background-color: #fafafa;
  }

  .card .list a {
    min-width: fit-content;
    margin: 10px;
    padding: 5px;
    border: 1px solid #333333;
    color: #333333;
    transition: .4s ease-in-out;
  }

  .card .list a.active {
    background-color: #1a4385;
    color: white;
  }

  .card .list a::after {
    display: none;
  }

  .container .card .textCard {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.226);
    box-shadow: 0 0 5px #1a4385;
  }

  .card .textCard .text {
    top: 10px;
    line-height: 1.4;
  }
}



